.btn {
  @apply inline-block rounded border border-transparent px-5 py-2 font-semibold capitalize transition;
}

.btn-sm {
  @apply rounded-sm px-4 py-1.5 text-sm;
}

.btn-primary {
  @apply border-primary bg-primary text-white;
}

.btn-outline-primary {
  @apply border-dark bg-transparent text-dark hover:bg-dark hover:text-white;
}
