@import "tailwindcss";
@plugin "../tailwind-plugin/tw-theme.mjs";
@plugin "../tailwind-plugin/tw-bs-grid.mjs";
@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:where(.dark, .dark *));

@import "./safe.css";
@import "./utilities.css";

@layer base {
  @import "./base.css";
}

@layer components {
  @import "./components.css";
  @import "./navigation.css";
  @import "./buttons.css";
  @import "./search.css";
}
